<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iris Flower Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Iris Flower Classification</h1>
        <form method="POST" action="/predict">
            <input type="number" step="any" name="sepal_length" placeholder="Sepal Length (cm)" required>
            <input type="number" step="any" name="sepal_width" placeholder="Sepal Width (cm)" required>
            <input type="number" step="any" name="petal_length" placeholder="Petal Length (cm)" required>
            <input type="number" step="any" name="petal_width" placeholder="Petal Width (cm)" required>
            <button type="submit">Predict</button>
        </form>

        {% if result %}
        <div class="result-box">
            <h2>Prediction: <span class="fade-in">{{ result }}</span></h2>
            <img src="{{ url_for('static', filename='images/' + image) }}" alt="{{ result }}" class="flower-img">
        </div>
        {% endif %}

        <div class="details">
            <div class="card">
                <h3>Setosa</h3>
                <img src="{{ url_for('static', filename='images/Setosa.jpg') }}">
                <p>Smallest Iris species. Short petals and sepals.It features narrow petals and sepals, usually colored in shades of purple or blue.</p>
            </div>
            <div class="card">
                <h3>Versicolor</h3>
                <img src="{{ url_for('static', filename='images/Versicolor.jpg') }}">
                <p>Medium-sized.It is admired for its vibrant violet-blue petals with distinctive white or yellow patches.</p>
            </div>
            <div class="card">
                <h3>Virginica</h3>
                <img src="{{ url_for('static', filename='images/Virginica.jpg') }}">
                <p>Largest species.It boasts broad petals with deep violet or bluish hues</p>
            </div>
        </div>
    </div>
</body>
</html>
